//- Posts with data at LHS
//- Expose the following for this component:
//- postsArr: each item in postsArr = [posts on one day], result from aggregate

ul
    each day, index in postsArr
        if (index === 0 && day[0].yearString != String(new Date().getFullYear()))
            h1(class='my-5 text-3xl font-medium')= day[0].yearString
        else if (index > 0 && day[0].yearString != postsArr[index - 1][0].yearString)
            h1(class='my-5 text-3xl font-medium')= day[0].yearString
        li(class='flex [&:not(:last-child)]:mb-3')
            h2(class='flex-none w-16')
                span(class='text-2xl font-medium')= day[0].dayString
                span 
                span(class='text-sm font-medium')= day[0].monthString
            ul(class='flex-auto')
                each post in day
                    li(class='[&:not(:last-child)]:mb-1')
                        a(class='px-1 bg-gray-200/70 line-clamp-2' href=post.url)= post.content
