extends ../layout/layout_no_menu

block content
    div(class='[&>*:not(:first-child)]:px-side')
        include ../components/bg-dp-name

        if (user.bio && user.bio.length)
            section(class='-mt-6')
                p(class='text-sm text-justify')= user.bio

        section(class='mt-2 mb-8')
            div(class='flex text-sm [&_button]:px-1 [&_button]:py-[2px] [&_button]:text-right [&_button]:rounded-md')
                p(class='flex-auto text-left text-gray-500') Joined #{user.joinedAgo} ago
                if (relationship === 'friend')
                    button(class='text-white bg-green-400') Friend
                else if (relationship === 'sent_pending')
                    button(class='text-white bg-neutral-400') Request sent
                else if (relationship === 'receive_pending')
                    form(action=user.url + '/accept-friend' method='post')
                        input(type='hidden' name='id' value=user._id required=true)
                        button(class='text-white bg-orange-400' type='submit') Accept request
                else if (relationship === 'stranger')
                    button(class='text-white bg-purple-400') Add

        section(class='mb-6')
            include ../components/posts

        include ../components/rule