extends ../layout/layout_no_menu

block content
    div(class='[&>*:not(:first-child)]:px-side')
        include ../components/bg-dp-name

        if (user.bio && user.bio.length)
            section(class='-mt-6')
                p(class='text-sm text-justify')= user.bio

        section(class='mt-2 mb-8')
            div(class='flex text-sm [&_button]:px-1 [&_button]:py-[2px] [&_button]:text-right [&_button]:rounded-md')
                p(class='flex-auto text-left text-gray-500') Joined #{user.joinedAgo} ago
                if (relationship === 'friend')
                    button#trigger-popup-btn(class='text-white bg-green-400') Friend
                else if (relationship === 'sent_pending')
                    button#trigger-popup-btn(class='text-white bg-neutral-400') Request sent
                else if (relationship === 'receive_pending')
                    button(id=user._id data-friend-request-type='accept' class='text-white bg-orange-400 friend-request') Accept request
                else if (relationship === 'stranger')
                    button(id=user._id data-friend-request-type='request' class='text-white bg-purple-400 friend-request') Add

        section(class='mb-6')
            include ../components/posts

        include ../components/rule

        if (relationship === 'friend' || relationship === 'sent_pending')
            if (relationship === 'friend')
                section#delete-section(class='absolute z-10 hidden w-3/4 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2')
                    div(class='font-medium text-center rounded-lg bg-slate-100')
                        h1(class='py-6') Remove this friend permanently?
                        div(class='border-t-2 flex [&>*]:flex-auto [&>*]:py-2 [&>*:hover]:bg-gray-200')
                            button#cancel-btn(type='button' class='border-r') Cancel
                            button(id=user._id data-friend-request-type='remove' class='border-l text-warning friend-request') Remove
            else
                section#delete-section(class='absolute z-10 hidden w-3/4 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2')
                    div(class='font-medium text-center rounded-lg bg-slate-100')
                        h1(class='py-6') Withdraw friend request?
                        div(class='border-t-2 flex [&>*]:flex-auto [&>*]:py-2 [&>*:hover]:bg-gray-200')
                            button#cancel-btn(type='button' class='border-r') Keep
                            button(id=user._id data-friend-request-type='cancel' class='border-l text-warning friend-request') Withdraw


            section#overlay-section(class='hidden')
                div(class='absolute inset-0 bg-black/50')

            script(src='/javascripts/deleteOverlay.js' defer)
        
        if (relationship !== 'self')
            script(src='/javascripts/friend-request.js' defer) 
